@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:wght@400;500;700&display=swap');

:root{
    padding: 0;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

p{
    display: flex;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.headline{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 6px;
}

section{
    border: solid 2px red;
}

.hero{
    display: flex;
    width: 100%;
    padding: 10rem 0;
    flex-direction: column;
    text-align: center;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 553px 0 553px;
}

.buttons .btn{
    height: 40px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.buttons .btn:hover {
    background-color: red;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: all 0.3s ease;
}

.active {
    background-color: red;
    transform: scale(0.98);
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
